* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ClashDisplay-Regular';
    background-color: #000010;
    color: #fff;
}

::selection {
    background-color: #00d0ff35;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 48px 10% 16px 10%;
    z-index: 2;
    backdrop-filter: blur(12px);
    width: 100%;
}

header #logo {
    font-family: 'Aboreto';
    font-size: 1rem;
}

header #logo span {
    font-family: 'ClashDisplay-Regular';
    font-size: 2.5rem;
}

div#bg {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    height: 520dvh;
    width: 100%;
    overflow: hidden;
    background: radial-gradient(circle at top left, #00D1FF35 0%, transparent 25%), radial-gradient(circle at 150% 350dvh, #9E00FF30 0%, transparent 50%);
}

div#bg .ellipse {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    z-index: -1;
    background-position: center;
    border-radius: 50%;
}

div#bg .ellipse#e1 {
    background: radial-gradient(circle at top left, #00D1FFb0 0%, transparent 63%), radial-gradient(circle at right bottom, #9E00FF65 0%, transparent 50%);
    top: 8%;
    left: 5%;
    scale: .8;
}

div#bg .ellipse#e2 {
    background: radial-gradient(circle at top left, #00D1FFb0 0%, transparent 48%), radial-gradient(circle at right bottom, #9E00FF85 0%, transparent 45%);
    top: 19%;
    left: 63%;
    scale: 1.6;
}

div#bg .ellipse#e3 {
    background: radial-gradient(circle at top left, #00D1FF90 0%, transparent 50%), radial-gradient(circle at right center, #9E00FF95 0%, transparent 55%);
    top: 42%;
    left: 12%;
    scale: 1.2;
}

div#bg .ellipse#e4 {
    background: radial-gradient(circle at top left, #00D1FF90 0%, transparent 40%), radial-gradient(circle at right center, #9E00FFd5 0%, transparent 65%);
    top: 33%;
    left: 77%;
    scale: .8;
}


div#bg .ellipse#e5 {
    background: radial-gradient(circle at top left, #00D1FF60 0%, transparent 40%), radial-gradient(circle at right top, #9E00FFd5 0%, transparent 55%);
    top: 56%;
    left: 73%;
    scale: 1.4;
}

div#bg .ellipse#e6 {
    background: radial-gradient(circle at top left, #00D1FF30 0%, transparent 50%), radial-gradient(circle at right top, #9E00FFd5 0%, transparent 45%);
    top: 63%;
    left: 18%;
}

div#bg .ellipse#e7 {
    background: radial-gradient(circle at top left, #00D1FF30 0%, transparent 50%), radial-gradient(circle at right top, #9E00FF95 0%, transparent 50%);
    top: 82%;
    left: 74%;
    scale: 1.8;
}

div#bg .ellipse#e8 {
    background: radial-gradient(circle at top left, #00D1FF30 0%, transparent 50%), radial-gradient(circle at right top, #9E00FF95 0%, transparent 50%);
    top: 93%;
    left: 23%;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin: 0 16px;
    text-decoration: none;
    color: #fff;
    font-family: 'ClashDisplay-Light';
    font-weight: 100;
}

nav ul li a.active,
nav ul li a:hover {
    color: #00d0ff;
}


.highlight {
    position: relative;
}

.highlight::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #00d0ff35;
    transform: skewX(-12deg);
    animation: highlightEnter 2s;
}

@keyframes highlightEnter {
    from {
        width: 0%;
    }
}

h1 {
    font-family: 'ClashDisplay-Regular';
    font-size: 2rem;
}

h1 span#insert-prenom {
    font-family: 'Aboreto';
    font-size: 4rem;
    transform-origin: bottom;
}

main {
    position: relative;
    height: 100dvh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

main::-webkit-scrollbar {
    width: 12px;
}

main::-webkit-scrollbar-thumb {
    background-color: #165171;
    border-radius: 10px;
}

section {
    scroll-snap-align: start;
    position: relative;
    height: 100dvh;
    width: 100%;
    padding: 150px 10%;
}

section#hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

section#hero h1 {
    margin: 50px 0 0 10%;
    display: grid;
    text-align: end;
    font-size: 2.5rem;
}

section#hero h1 span {
    position: relative;
    left: -50px;
    font-size: 5rem;
    font-family: 'Aboreto';
    font-weight: 200;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: start;
    background-color: #fff;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 55%, #0091c6 62%, rgba(255, 255, 255, 1) 66%);
    background-size: 300% 300%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: PrenomEnter 2s ease-in 1 forwards;
}


@keyframes PrenomEnter {
    from {
        background-position: 100%;
    }

    to {
        background-position: 0%;
    }
}

section#hero p {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: 'ClashDisplay-Regular';
    font-size: 2rem;
}

section#about {
    padding: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

section#theme {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
    font-family: 'ClashDisplay-Extralight';
    font-weight: 100;
    font-size: 1.3em;
    text-align: center;
    text-wrap: pretty;
}

section#theme h2 {
    font-family: 'ClashDisplay-Light';
    font-size: 2.5rem;
}

section#theme p {
    color: #eee;
}

section#theme div.box-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 16px;
    font-family: 'Aboreto';
}

section#theme div.box-container .box {
    font-family: 'ClashDisplay-Extralight';
    background-color: #55555535;
    border: solid 1px #fff;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px 24px;
    cursor: default;
}

section#conditions {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#conditions .conditions-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

section#conditions h2 {
    width: 100%;
    font-size: 3rem;
    position: relative;
    left: -10vw;
}

section#conditions ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    align-items: center;
}

section#conditions ul li {
    list-style: none;
    font-family: 'ClashDisplay-Light';
    font-size: 1.5rem;
    border: solid 1px #fff;
    padding: 32px 6px;
    border-radius: 20px;
    background-color: #55555535;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

section#conditions ul li img {
    width: 50%;
    transition: all 0.3s ease;
}

section#conditions ul li:hover img {
    transform: scale(1.25) !important;
}

section#rsvp {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

section#rsvp form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

section#rsvp form label {
    position: relative;
    font-family: 'ClashDisplay-Light';
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-color: #00d0ff10;
    color: #fff;
    border: solid 1px #eef;
    cursor: pointer;
    transition: all 0.3s ease;
}

section#rsvp form label:hover {
    background-color: #00d0ff35;
}

section#rsvp form label::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    aspect-ratio: 1/1;
    height: 100%;
    background-color: red;
    border: solid 1px #eef;
    border-radius: 50%;
    transition: all 0.3s ease;
}

section#rsvp form .text-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: start;
    gap: 48px;
}

section#rsvp form .text-container p {
    font-family: 'ClashDisplay-light';
    font-size: 1.2rem;
    scale: 1.4;
    color: #fff;
    transition: all 0.3s ease;
}

section#rsvp form input[type='checkbox']:checked+label::after {
    left: 50%;
    background-color: green;
}

section#rsvp form .text-container:has(input[type='checkbox']:checked) p:first-child {
    color: #bbb;
    scale: 1;
}

section#rsvp form .text-container:has(input[type='checkbox']:checked) p:last-child {
    color: #fff;
    scale: 1.4;
}

section#rsvp form .text-container:has(input[type='checkbox']) p:last-child {
    color: #bbb;
    scale: 1;
}

section#rsvp form input[type='checkbox'] {
    display: none;
}

section#rsvp form input[type='submit'] {
    position: relative;
    font-family: 'ClashDisplay-Light';
    font-size: 1.5rem;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: #00d0ff10;
    color: #fff;
    border: solid 1px #eef;
    cursor: pointer;
    transition: all 0.3s ease;
}

section#rsvp form input[type='submit']:hover {
    background-color: #00d0ff35;
}

section#rsvp .liens {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

section#rsvp .lien-cta {
    position: relative;
    font-family: 'ClashDisplay-Light';
    font-size: 1.5rem;
    padding: 16px 32px;
    border-radius: 16px;
    background-color: #00d0ff10;
    color: #fff;
    border: solid 1px #eef;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 16px;
}

section#rsvp .lien-cta a {
    text-decoration: none;
    color: #fff;
}

section#rsvp .lien-cta:hover {
    background-color: #00d0ff35;
}

#nav-mobile {
    display: none;
    width: 32px;
    height: 40px;
    position: relative;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-evenly;
}

#nav-mobile span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
}

@media (max-width: 800px) {

    main {
        scroll-snap-type: y none;
    }

    #logo {
        z-index: 999;
    }

    #logo::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(12px);
        z-index: -1;
    }

    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100dvh;
        top: -100dvh;
        left: 0;
        font-size: 2rem;
        background-color: #000010;
        transition: top .9s ease-out;
        z-index: 9;
    }


    nav.active {
        top: 0dvh;
    }


    nav ul {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    #nav-mobile {
        display: flex;
        z-index: 999;
    }

    section#hero h1 {
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
    }

    section#hero h1 span#insert-prenom {
        font-size: 4rem;
        left: 0;
    }

    section#conditions h2 {
        left: 0;
    }

    section#conditions ul {
        flex-flow: column nowrap;
        gap: 32px;
    }

    section#rsvp {
        gap: 32px;
    }

    section#rsvp form .text-container {
        display: flex;
        flex-flow: column-reverse nowrap;
        gap: 16px;
    }

    section#rsvp .lien-cta {
        width: min-content;
    }
}